@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  /* --font-serif: var(--font-playfair); Removed as per design.md */
  --font-display: var(--font-grey-qo);
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
}

:root {
  /* Design System Colors from design.md */
  --background: #EFEBD6;
  --foreground: #333333;
  --accent: #FFC107;
}

@layer base {
  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display text-foreground;
  }
}

@keyframes blink-brown {
  0%, 100% {
    background-color: #6b6346;
  }
  50% {
    background-color: #EFEBD6;
  }
}

.animate-blink-brown:hover {
  animation: blink-brown 3s infinite;
}
